@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 80%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border-radius: 5px;
}

@media screen and (min-width: 996px) {




  .header {
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 2.1875rem !important;
  }

  .nav-link {
    font-family: 600;
    font-size: 1.38rem !important;
    letter-spacing: 0.0275rem;
    text-transform: uppercase;
    font-weight: 500 !important;
    padding-left: 2.1000rem !important;
  }



  .btn {
    display: inline-flex;
    background-color: transparent;
    color: #8a8b8bee;
    border: none;
    padding: 37px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    height: 100px;
    font-size: 20px;
    text-align: center;

    font-family: inherit;
  }

  .btn:hover {
    border-bottom: tomato solid 3px;
  }

  hr {
    margin-top: -5px;
  }

  .card-shopping {
    font-size: 23px;
    cursor: pointer;
    display: inline;
    position: relative;
  }

  .card-shopping .span {
    position: absolute;
    top: -4px;
    right: -7px;
    background-color: #ff7d1a;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 50%;
  }

  .body-container {
    width: 80%;
    margin: 10px 0px !important;
    display: flex;

  }

  .company {
    font-size: 19px;
    font-weight: 700;
    color: #ff8e1d;
    margin-top: 30px;
    text-transform: uppercase;
  }

  .head {
    line-height: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(49, 47, 47);
    text-transform: capitalize;
  }

  .text {
    line-height: 28px;
    font-size: 19px;
    font-weight: 550;
    color: rgb(124, 124, 124);
    margin-top: 20px;
  }

  .Add-cart {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #ff7d1a;
    font-size: 16px;
    color: white;
    font-weight: 600;
    /* padding: 0px 10px; */
    cursor: pointer;
  }

  .span {
    margin-left: 5px;
  }

  .header-container {
    display: inline;
  }

  .plus {
    font-size: 20px;
    color: #ff7d1a;
    cursor: pointer;
  }

  .minus {
    display: inline;
    font-size: 20px;
    color: #ff7d1a;
    margin-right: 35px;
    cursor: pointer;
  }

  .addings {
    width: 170px;
    border-radius: 7px;
    background-color: rgb(236, 233, 228);
    height: 60px;
    padding: 15px;
  }

  .amount {
    display: inline;
  }

  .cartFlexer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    width: 300px;
  }

  .number {
    color: red;
    display: inline;
    margin-right: 35px;
    font-size: 20px;
    margin-top: 10px;
  }

  h2 {
    margin-top: 40px;
  }

  h2 span {
    background-color: #dac0a7;
    font-size: 18px;
    color: #ff8e1d;
    padding: 2px 7px;
    border-radius: 5px;
    margin-left: 20px;
  }

  .off {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: line-through;
    color: rgb(90, 87, 87);
  }

  img {
    width: 70%;
    height: 70%;
    border-radius: 12%;
  }

  .body {
    width: 80% !important;
    margin: 100px 70px 100px -70px;
  }

  .image-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .image-container img {
    width: 20%;
    height: 20%;
    margin-top: 10px;
    cursor: pointer;
  }

  .image-container img:hover {
    cursor: pointer;
    opacity: 0.4;
  }

  .icon {
    color: #282c34;
    font-size: 1.2342rem;
    cursor: pointer;
    margin: auto 46px;
  }

  .item-count {
    color: #282c34;
    position: absolute;
    right: 31px;
    font-size: 13px;
    bottom: 9px;
    background-color: red;
    padding: 6px;
    font-weight: 600;
    border-radius: 100%;

  }

  .profile-picture img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-top: -20px;
    cursor: pointer;
  }

  .profile-picture {
    display: inline;
    margin-top: 30px;
    width: 5%;
    height: 5%;
    margin-left: 30px;
  }

  .amount {
    color: white;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .remove-icon {
    margin-left: 80px;
    font-size: 14px;
    color: rgb(128, 33, 33);
  }

  .suss {
    color: green;
    font-size: 20px;
  }


}






@media screen and (max-width: 600px) {
  body {
    font-family: "Poppins", sans-serif;
  }

  .container {
    max-width: 80%;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border-radius: 5px;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    font-size: 1.500rem !important;
    order: 2;
  }

  .btn {
    display: inline-flex;
    background-color: transparent;
    color: #8a8b8bee;
    border: none;
    padding: 37px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    height: 100px;
    font-size: 20px;
    text-align: center;

    font-family: inherit;
  }

  .nav-link {
    font-family: 600;
    font-size: 1.38rem !important;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    order: 1;
    color: red;
  }

  .btn:hover {
    border-bottom: tomato solid 3px;
  }

  hr {
    margin-top: -5px;
  }

  .card-shopping {
    /* display: inline; */
    font-size: 23px;
    cursor: pointer;
    order: 3;
    position: relative;
  }

  .card-shopping .span {
    position: absolute;
    top: -12px;
    right: -7px;
    background-color: #ff7d1a;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 50%;
  }

  .body-container {
    width: 100%;
    display: block;
    margin-top: 40px;
  }

  .company {
    font-size: 19px;
    font-weight: 700;
    color: #ff8e1d;
    margin-top: 30px;
    text-transform: uppercase;
  }

  .head {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(49, 47, 47);
    text-transform: capitalize;
    margin-top: 30px;
  }

  .text {
    line-height: 30px;
    font-size: 13px;
    font-weight: 550;
    color: rgb(124, 124, 124);
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .Add-cart {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #ff7d1a;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 30px auto;
    cursor: pointer;
  }


  .plus {
    font-size: 20px;
    color: #ff7d1a;
    cursor: pointer;
  }

  .minus {
    display: inline;
    font-size: 20px;
    color: #ff7d1a;
    cursor: pointer;
  }

  .addings {
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 233, 228);
    height: 60px;
    padding: 15px;
  }

  .amount {
    display: inline;
  }

  .cartFlexer {
    display: block;
    width: 100%;
    margin-top: 60px;
  }

  .number {
    color: red;
    display: inline;
    font-size: 20px;
  }

  h2 {
    margin-top: 40px;
  }

  h2 span {
    background-color: #dac0a7;
    font-size: 18px;
    color: #ff8e1d;
    padding: 2px 7px;
    border-radius: 5px;
    margin-left: 20px;
  }

  .off {
    display: inline;
    font-size: 18px;
    margin-left: 120px;
    text-decoration: line-through;
    color: rgb(90, 87, 87);
  }

  .percent {
    display: inline;
  }

  img {
    width: 100%;
    height: 80%;
    border-radius: 10%;
  }

  .body {
    width: 100%;
  }

  .image-container img {
    width: 20%;
    display: none;
    height: 20%;
    margin-top: 10px;
    cursor: pointer;
  }

  .image-container img:hover {
    cursor: pointer;
  }

 
  h1 {
    font-size: 17px;
    display: block;
    margin-right: 10px;
    color: #e2e2e2;
  }



  .profile-picture img {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    cursor: pointer;
  }

  .profile-picture {
    display: inline;
    margin-top: 30px;
    width: 5%;
    height: 5%;
    margin-left: 30px;
  }

  .amount {
    color: white;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .remove-icon {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(128, 33, 33);
  }

  .suss {
    color: green;
    font-size: 20px;
  }

  .cart button {
    width: 70%;
    font-weight: 600;
    margin: 40px 45px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    height: 50px;
    background-color: #ff7d1a;
    align-items: center;
    cursor: pointer;
  }
}





@media (min-width:601px) and (max-width: 995px) {
  body {
    font-family: "Poppins", sans-serif;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    order: 2;
    font-size: 2.1875rem !important;
  }

  .nav-link {
    font-family: 600;
    font-size: 1.38rem !important;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    order: 1;
    color: red;
    margin-left: auto !important;
  }

  .btn {
    display: inline-flex;
    background-color: transparent;
    color: #8a8b8bee;
    border: none;
    padding: 37px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    height: 100px;
    font-size: 20px;
    text-align: center;

    font-family: inherit;
  }

  .btn:hover {
    border-bottom: tomato solid 3px;
  }

  hr {
    margin-top: -5px;
  }

  .card-shopping {
    display: inline;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    order: 3;
  }

  .card-shopping .span {
    position: absolute;
    top: -12px;
    right: -7px;
    background-color: #ff7d1a;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 50%;
  }

  .body-container {
    width: 100%;
    margin-top: 40px;
  }

  .company {
    font-size: 19px;
    font-weight: 700;
    color: #ff8e1d;
    margin-top: 30px;
    text-transform: uppercase;
  }

  .head {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(49, 47, 47);
    text-transform: capitalize;
    margin-top: 30px;
  }

  .text {
    line-height: 30px;
    font-size: 13px;
    font-weight: 550;
    color: rgb(124, 124, 124);
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .Add-cart {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #ff7d1a;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 30px auto;
    cursor: pointer;
  }

  .navbar {
    justify-content: space-between;
    display: flex;
  }

  .plus {
    font-size: 20px;
    color: #ff7d1a;
    cursor: pointer;
  }

  .minus {
    display: inline;
    font-size: 20px;
    color: #ff7d1a;
    cursor: pointer;
  }

  .addings {
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 233, 228);
    height: 60px;
    padding: 15px;
  }

  .amount {
    display: inline;
  }

  .cartFlexer {
    display: block;
    width: 100%;
    margin-top: 60px;
  }

  .number {
    color: red;
    display: inline;
    font-size: 20px;
  }

  h2 {
    margin-top: 40px;
  }

  h2 span {
    background-color: #dac0a7;
    font-size: 18px;
    color: #ff8e1d;
    padding: 2px 7px;
    border-radius: 5px;
    margin-left: 20px;
  }

  .off {
    display: inline;
    font-size: 18px;
    margin-left: 120px;
    text-decoration: line-through;
    color: rgb(90, 87, 87);
  }

  .percent {
    display: inline;
  }

  img {
    width: 100%;
    height: 80%;
    border-radius: 10%;
  }

  .body {
    width: 100%;
  }

  .image-container img {
    width: 20%;
    height: 20%;
    margin-top: 10px;
    cursor: pointer;
  }

  .image-container img:hover {
    cursor: pointer;
  }


  h1 { 
    font-size: 17px;
    display: block;
    margin-right: 10px;
    color: #e2e2e2;
  }

  .item-holder p {
    font-size: 15px;
    display: inline;
    color: white;
  }

  .profile-picture img {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    cursor: pointer;
  }

  .profile-picture {
    display: inline;
    margin-top: 30px;
    width: 5%;
    height: 5%;
    margin-left: 30px;
  }

  .amount {
    color: white;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .remove-icon {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(128, 33, 33);
  }

  .suss {
    color: green;
    font-size: 20px;
  }

  .cart button {
    width: 70%;
    font-weight: 600;
    margin: 40px 75px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    height: 50px;
    background-color: #ff7d1a;
    align-items: center;
    cursor: pointer;
  }
}